*
{
	margin: 0px;
	padding: 0px;
}
h1, h2
{
	text-align: center;
}

#my-canvas {
	pointer-events: none;
	z-index: 5;
}

.hexagon{
	width: 100px;
	height: 100px;
	
}

.hexagon_zero, .triangleLeft, .triangleRight{
	width: 0;
	height: 0;
	border-top-width: 45px !important;				
	border-bottom-width: 45px !important;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
}

.triangleLeft{
	border-left-width: 0 !important;
}

.triangleRight{
	border-right-width: 0 !important;
}

.inside{
	width: 90px;			
	height: 90px;
}

.inside
{
	position: relative;
	bottom: 0px;
	top: 0px;
}

.row {
	display: flex;
	justify-content: center;
}

.one-hexagon
{
	display: flex;
	text-align: center;
}

.one-hexagon:hover								/*убрал :nth-child(1) --> выделяются все сотики*/
{
	/*background-color: rgb(211, 211, 125);*/
	/*border-radius: 5em;*/
	/*font-weight: bold;*/
	/*color: red;*/
	opacity: 0.7;
}

.invisible {
	opacity: 0;
}

.invisible:hover {
	opacity: 0.5;
}

p{
	word-wrap: normal;
	font-size: 16px;
}




