#navbar ul {
    display: none;
    background-color: rgb(99, 114, 188);
    position: absolute;
    top: 100%;
}

#navbar li:hover ul {
    display: block;
}

#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 30px;
    background-color: rgb(9, 37, 69);
    padding-left: 25px;
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
}
#navbar div
{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#navbar li {
    float: left;
    position: relative;
    height: 110%;
    border-radius: 5px;
}

#navbar li a {
    display: block;
    padding: 6px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 10;
}

#navbar ul li {
    float: none;
}

#navbar ul li ul{
    float: none;
}

#navbar li:hover {
    background-color: rgb(99, 114, 188);
}

#navbar ul li:hover {
    background-color: rgb(9, 37, 69);
}

/* footer */
footer {
    position: fixed; /* Фиксированное положение */
    left: 0;
    padding: 10px;
    background: rgb(9, 37, 69); /* Цвет фона */
    width: 100%;
    height: 70px;
    position: absolute;
    margin-top: auto;
}

input[type="text"] {
    font-size: 14px;
}
