#navbar ul {
    display: none;
    background-color: #f90;
    /* position: absolute; */
    top: 100%;
}

#navbar li:hover ul {
    display: block;
}

#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 30px;
    background-color:#666;
    padding-left: 25px;
    min-width: 470px;
    position: relative;
    z-index: 10;
}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    /* text-align: center; */
    position: relative;
    z-index: 10;
}

#navbar ul li {
    float: none;
}
#back {
    /* width: 30px;   */
    width: 30px;
}
#forward {
    width: 30px;
}

#navbar ul li ul{
    float: none;
}

#navbar li:hover {
    background-color: #f90;
}

#navbar ul li:hover {
    background-color: #666;
}
